# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dev_dist/
dist/
*.egg-info/
site-packages/
venv/
target_path/
sign_pics/